

#openbtn {
  display: none;
}

#header-links {
  display: flex;
  list-style: none;
  font-weight: bold;
}
#header-links a{
  text-decoration: none;
  color: white;
  font-weight;
}
#header-links a:hover{
  color: purple;
}
#header-links .links:nth-last-child(n){
  margin-left: 10px;
}
#header-links .links:last-child{
  margin-right: 20px;
}

.goals{
  padding: 0 10px;
/*  background-color: green; */
  min-width: 600px;
  max-width: 900px;
}

/*h1{
  color: red;
} */

h1 {
  font-size: 3em;
  
}
h3 {
  font-size: 1.5em;
  
}
#intro {
  margin-left: 5em;
}

h2 {
    margin-bottom: 4rem;
    margin-top: 6rem;
}

#author-img {
  margin-top: 100px;
  width: 40vw;
  
}

#new-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

#targetbtn {
  display: none;
}
