h1 {
  font-size: 3.5em;
  
}
h3 {
  font-size: 1.8em;
  
}
#intro {
  margin-left: 5em;
}

h2 {
    margin-bottom: 4rem;
    margin-top: 6rem;
}

#author-img {
  width: 30vw;
  
}

#new-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

#targetbtn {
  display: none;
}


/*figure {
    float: right;
} */
.goals{
    padding: 0 10px;
  /*  background-color: green; */
    min-width: 750px;
    max-width: 900px;
  }
  
